.details-container {
    width: 80%;
    margin: auto;
    margin-top: 1.5em;
}

.comment-list {
    margin-top: 1em;
    margin-bottom: 2em;
}

.songs-list {
    margin-bottom: 2em;
}

.fav-btn {
    margin-bottom: 1em;
}