.album-card {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: inherit;
}

[hidden] {
  display: none !important;
}

.album-title:hover {
  cursor: pointer;
}
  
@media only screen and (max-width: 600px) {
    mat-card-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
}