<h1 mat-dialog-title>Search</h1>
<div id="search-container">
  <mat-form-field color="primary" class="search-field" appearance="fill">
    <mat-label>Search for a album</mat-label>
    <input matInput (keydown.enter)="searchAlbums()" name="search" id="searchbox" [(ngModel)]="search" type="text"
      aria-label="Search">
  </mat-form-field>
  <!-- <div *ngIf="showFilter" class="filter">
    <h2>Time:</h2>
    <table class="timeTable" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="timeInput" appearance="fill">
            <mat-label>Min Time</mat-label>
            <input [(ngModel)]="timeMin" matInput type="number" placeholder="0" aria-label="timeMin">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="timeInput" appearance="fill">
            <mat-label>Max Time</mat-label>
            <input [(ngModel)]="timeMax" matInput type="number" placeholder="30" aria-label="timeMax">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div> -->
  <div mat-dialog-actions>
    <button (click)="searchAlbums()" mat-raised-button class="search-btn" color="primary">Search</button>
    <!-- <button (click)="showFilter = !showFilter" mat-raised-button class="search-btn" color="primary">Filter</button> -->
    </div>
</div>