<script src="https://kit.fontawesome.com/9f3315660d.js" crossorigin="anonymous"></script>

<h3>Average Rating: {{ avgRating }}</h3>



<h3>Rate album:</h3>
<div class="container">
<fieldset class="rating">
  <ng-container  *ngFor="let num of [5, 4, 3, 2, 1]">
      <!-- full star -->
      <input (click)="SetRating(num)" 
            [id]="'star'+num"
            [value]="num-0.5"
            name="rating" 
            type="radio" />

      <label class="full" [for]="'star'+num"></label>

      <!-- half star -->
      <input (click)="SetRating(num-0.5)" 
             [value]="num-0.5"
             [id]="'halfstar'+num" 
             name="rating" 
             type="radio"  />

      <label class="half" [for]="'halfstar'+num"></label>

  </ng-container>
</fieldset>
</div>